{% extends "base.twig" %}

{% block content %}
  {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
  {% endfor %}

  {% if pagination %}
    <div class="pagination">
      {% if pagination.prev %}
      <div class="col">
        <a href="{{ pagination.prev.link }}" class="button">Previous</a>
      </div>
      {% endif %}

      {% if pagination.next %}
      <div class="col">
        <a href="{{ pagination.next.link }}" class="button">Next</a>
      </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
