{% extends "base.twig" %}

{% block content %}
  {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
  {% endfor %}

  {% if pagination %}
    <div class="pagination">
      <ul>
        {% if pagination.next %}
        <li>
          <a href="{{ pagination.next.link }}" class="button">Next</a>
        </li>
        {% endif %}

        {% if pagination.prev %}
          <li>
            <a href="{{ pagination.prev.link }}" class="button">Previous</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
