$max-width: 1000px;

.content-wrapper {
  width: $max-width;
  padding: 2em;
  margin: 0 auto;

  a:hover {
    text-decoration: none;
  }

  .post-tease {
    border-bottom: 1px solid $base1;
    margin: 2em 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
