$max-width: 1000px;

.content-wrapper {
  width: $max-width;
  padding: 2em;
  margin: 0 auto;
  font-size: 22px;
  box-sizing: border-box;

  font-family: 'Crimson Text', serif;

  @media screen and (max-width: $max-width) {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    padding: 0.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato Bold';
    letter-spacing: 2px;

    a {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    margin-top: 1.5em;
    font-size: 24px;
  }

  a:hover {
    text-decoration: none;
  }

  article {
    padding-bottom: 0.5em;

    code {
      font-size: 16px;
      background-color: $base2;
      padding: 0.1em 0.25em;
    }

    .wp-caption {
      max-width: 95%;
      margin: 0 auto;

      img {
        max-width: 95%;
        height: auto;
      }

      .wp-caption-text {
        color: $base01;
        font-style: italic;
      }
    }

    .alignleft {
      float: left;
    }

    .alignright {
      float: right;
    }

    .aligncenter {
      margin: 0 auto;
    }

    .alignnone {
      margin: 0 auto;
    }
  }

  .post-tease {
    border-bottom: 1px solid $base1;
    margin-bottom: 1em;

    h2 {
      margin-top: 0;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .post-nav {
    padding: 1em;
    margin: 1.5em 1em 0 1em;
    box-sizing: border-box;
    background-color: $base2;
    border-radius: 5px;
    border: 1px solid $base1;
    font-family: 'Lato Light';

    h1 {
      box-sizing: border-box;
      width: 100%;
      margin: 0 0 0.5em 0;
      padding: 0;
      font-size: 28px;
      letter-spacing: 1pt;
    }

    ul {
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;

      li {
        display: inline-block;
        list-style-type: none;
        width: 49%;

        &:first-of-type {
          text-align: left;
          border-right: 1px solid $base1;
        }

        &:last-of-type {
          text-align: right;
        }
      }
    }
  }

  pre {
    font-size: 18px;
    padding: 1em;
    margin: 0.5em 1em;
    background-color: $base03;
    color: $base3;
    border-radius: 5px;
    overflow: auto;
    line-height: 1.25em;
    width: inherit;

    font-family: 'Ubuntu Mono' monospace;

    @media screen and (max-width: 800px) {
      margin: 0.5em 0.25em;
      padding: 0.5em;
    }
  }

  .article-content {
    h1 {
      font-size: 32px;
      margin: 0 0 0.5em 0;
    }

    .blog-author {
      font-family: 'Lato Light';
      border-bottom: 1px solid $base2;
    }
  }

  .big-message {
    padding: 1em;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
}

.to-top {
  width: $max-width;
  clear: both;

  @media screen and (max-width: $max-width) {
    width: 100%;
  }

  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 2em 0;
}
