/*
  Crimson Text
*/
@font-face {
  font-family: 'Crimson Text Bold';
  src: url('/dist/fonts/Crimson_Text/CrimsonText-Bold.ttf');
}

@font-face {
  font-family: 'Crimson Text Semibold';
  src: url('../fonts/Crimson_Text/CrimsonText-Semibold.ttf');
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../fonts/Crimson_Text/CrimsonText-Roman.ttf');
}

/*
  Lato
*/
@font-face {
  font-family: 'Lato Regular';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

/*
  Ubuntu Mono
*/
@font-face {
  font-family: 'Ubuntu Mono',cursive;
  src: url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
