header {
  width: 100%;
  box-sizing: border-box;
  padding: 2em 1em;
  margin-bottom: 1em;
  background-color: $base2;

  text-align: center;

  @media screen and (max-width: 800px) {
    padding: 1em;
  }

  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    font-family: 'Lato Light';

    @media screen and (max-width: 800px) {
      font-size: 32px;
    }

    a {
      text-decoration: none;
    }
  }

  .sub {
    font-size: 18px;
  }
}
