.pagination {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  box-sizing: border-box;
  overflow: hidden;

  .col {
    display: table-cell;
    width: 50%;

    @media screen and (max-width: 800px) {
      display: table-row;
      width: 100%;
    }
  }
}
